<body style="font-family: Arial, Helvetica, sans-serif;">
    <div class="p-3">
        <main>
            <div class="container" style="margin-top: 10%;">
                <h2>{{firstName}} {{lastName}} is logged in.</h2>
                <dl>
                    <dt>First Name</dt>
                    <dd>{{firstName}}</dd>
                    <dt>Last Name</dt>
                    <dd>{{lastName}}</dd>
                    <dt>Username: </dt>
                    <dd>{{username}}</dd>
                    <dt>Profession: </dt>
                    <dd>{{profession}}</dd>
                    <dt>Bio: </dt>
                    <dd>{{bio}}</dd>

                </dl>
                <a href="/logout" class="btn btn-outline-dark" role="button" aria-pressed="true">Click Here To
                    Logout</a>
            </div>
        </main>
    </div>
</body>