<h1>Shows Found</h1>
<h2>{{searchTerm}}</h2>
{{!-- <article class="result"> --}}
    <h3>Results</h3>
    {{#if shows.length}}
    {{!-- <p>{{#each show}}{{name}} {{id}}{{/each}}</p> --}}
    <ul>
        {{#each shows}}
        {{!-- <li>{{this.name}}</li> --}}
        <li><a href="/shows/{{this.id}}">{{this.name}}</a></li>
        {{/each}}
    </ul>

    {{else}}
    <h2 class="not-found">We're sorry, but no results were found for {{searchTerm}}.</h2>
    {{/if}}
    <a href="/" class="btn">Make another search</a>
    {{#if hasErrors}}
    <p>
    <ul class="error-list">
        {{#each errors}}
        <li>
            {{this}}
        </li>
        {{/each}}
    </ul>
    </p>
    {{/if}}

    {{!--
</article> --}}